input[type='search'] {
  background-color: transparent;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
input[type='search']::after {
  content: none;
}
.hidden-sub {
  visibility: visible;
  opacity: 0;
  display: none;
}

.pagi-active {
  padding: 4px 14px;
  background-color: #1d4ed8;
  transition: all 0.25s ease-in-out;
  color: white !important;
  border-radius: 8px;
}

.pagi-active:hover {
  background-color: #1e40af;
}

/*  */
.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  width: 100%;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

label.error {
  display: block;
  color: red !important;
  font-size: 14px !important;
}
